/* NavBar */

.navbar {
  line-height: 1.75;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 10px 20px;
  background: #007bff;
  color: #fff;
  box-shadow: 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

div.navbar-links span {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding: 0 5px;
  cursor: pointer;
}

div.navbar-title {
  font-size: 20px;
  font-family: sans-serif;
  cursor: pointer;
}

.navbar-signUp,
.navbar-signIn {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px 10px;
  font-size: 15px;
  background: transparent;
  color: white;
  margin: 0;
  border-radius: 5px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.navbar-signUp:hover,
.navbar-signIn:hover {
  background: #34a853;
  background: #fbbc05;
  color: #000000;
  transition: 0.4s ease-in;
}